recursive-include octoklipscreen_bridge/templates *
include octoklipscreen_bridge/__init__.py
include setup.py
include README.md
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
