<div id="settings_plugin_octoklipscreen_bridge">
    <h3>Octoklipscreen Bridge Settings</h3>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="mqtt_broker_input">MQTT Broker IP</label>
            <div class="controls">
                <input type="text" id="mqtt_broker_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_broker">
                <span class="help-block">Add meg a Home Assistant MQTT broker helyi IP-címét.</span>
            </div>
        </div>
    </form>
</div>
