<div id="settings_plugin_octoklipscreen_bridge">
    <h3>Octoklipscreen Bridge Settings</h3>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="mqtt_broker_input">MQTT Broker IP</label>
            <div class="controls">
                <input type="text" id="mqtt_broker_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_broker">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mqtt_user_input">MQTT Felhasználónév</label>
            <div class="controls">
                <input type="text" id="mqtt_user_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_user">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mqtt_pass_input">MQTT Jelszó</label>
            <div class="controls">
                <input type="password" id="mqtt_pass_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_pass">
            </div>
        </div>
    </form>
</div>
