<div id="settings_plugin_octoklipscreen_bridge">
    <h3>Octoklipscreen Bridge beállításai</h3>
    
    <p><strong>GitHub Repó:</strong> <a href="https://github.com/karolyia79/OctoPrint-OctoklipscreenBridge" target="_blank">karolyia79/OctoPrint-OctoklipscreenBridge</a></p>
    
    <p><strong>Miért kell ez a plugin?</strong><br>
    Ez a plugin a CYD (Cheap Yellow Display) kijelzőre továbbítja az OctoPrint terminál teljes tartalmát (küldött parancsok és beérkező válaszok), hogy a kijelzőbe épített plugin-ek zökkenőmentesen és kétirányúan tudjanak kommunikálni az OctoPrint szerverrel.</p>
    
    <p><strong>Fontos megjegyzés a telepítéshez:</strong><br>
    A maximális stabilitás és sebesség érdekében az OctoPrint szerveren szükséges egy saját, önálló MQTT broker (pl. Mosquitto) telepítése is, amelyhez ez a bridge csatlakozik.</p>
    
    <hr>
    
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="mqtt_broker_input">MQTT Broker IP</label>
            <div class="controls">
                <input type="text" id="mqtt_broker_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_broker">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mqtt_user_input">MQTT Felhasználónév</label>
            <div class="controls">
                <input type="text" id="mqtt_user_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_user">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mqtt_pass_input">MQTT Jelszó</label>
            <div class="controls">
                <input type="password" id="mqtt_pass_input" data-bind="value: settings.plugins.octoklipscreen_bridge.mqtt_pass">
                <label class="checkbox inline" style="margin-left: 10px; display: inline-block;">
                    <input type="checkbox" id="toggle_mqtt_pass"> Mutat
                </label>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $("#toggle_mqtt_pass").on("change", function() {
            var passwordInput = $("#mqtt_pass_input");
            passwordInput.attr("type", $(this).is(":checked") ? "text" : "password");
        });
    });
</script>
